body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}

.responsive {
    width: 100%;
    max-width: 250px;
    max-height: 300px;
    height: auto;
}

.center-of-screen{
  
        left: 0;
        line-height: 200px;
        margin: auto;
        margin-top: -100px;
        position: absolute;
        top: 50%;
        width: 100%;
    
}
ul {
    text-align: center;
    list-style-position: inside;
}

p{
    font-size: 18px;
}

ul{
    font-size: 18px;
}