body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}

.responsive {
    width: 100%;
    max-width: 250px;
    max-height: 300px;
    height: auto;
}